
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Denegado</title>
</head>
<body>
    <main>
        <section>
            <article>
                <img src="~/img/403.jpg" alt="Error 403" />
            </article>
        </section>
    </main>
</body>
</html>
