@{ Layout = null; }
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Registro</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
  </head>
  <body>
    <style>
      body {
        background-image: url(/img/Fondo.png);
        background-size: cover;
        backdrop-filter: blur(2px);
      }
      .container {
        opacity: 0.9;
      }
    </style>
    <main>
      <section class="vh-100">
        <div class="container py-5 h-100">
          <div
            class="row d-flex justify-content-center align-items-center h-100"
          >
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 1rem">
                <div class="card-body p-5">
                  <div class="text-center">
                    <img
                      src="~/img/usuario.png"
                      alt="Imagen Principal"
                      class="mb-4"
                      width="125px"
                      height="auto"
                    />
                  </div>
                    <div class="text-center text-danger" style="font-size:24px">
                        @ViewBag.Error
                    </div>
                  <form
                    asp-action="Login"
                    asp-controller="Home"                                        
                    method="post"                    
                  >
                    <div class="mb-4">
                      <label
                        for="lblUser"
                        class="col-form-label col-form-label-lg"
                        >Usuario:</label
                      >
                      <input
                        type="text"
                        name="User"
                        id="lblUser"
                        class="form-control form-control-lg"
                        placeholder="Coloca tú usuario aquí"
                        required
                      />
                    </div>

                    <div class="mb-4">
                      <label
                        for="lblPass"
                        class="col-form-label col-form-label-lg"
                        >Contraseña:</label
                      >
                      <input
                        type="password"
                        name="Pass"
                        id="lblPass"
                        placeholder="Coloca tú contraseña aquí"
                        class="form-control form-control-lg"
                        required
                      />
                    </div>
                    <div class="text-center">
                      <div class="mb-4 mt-4">
                        <a asp-action="register" asp-controller="home"
                          >Click Aquí para registrarte</a>
                      </div>
                      <button
                        class="btn btn-primary btn-lg btn-block"
                        type="submit"                        
                      >
                        Iniciar Sesión
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
  </body>
</html>
