@{ Layout = null; }

<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />
    <title>Index</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" asp-action="index">TutoriaExpress</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mynavbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="javascript:void(0)">Inicio</a>
              </li>
            </ul>
            <ul class="navbar-nav d-flex">
              <li class="nav-item">
                <a class="nav-link" asp-action="Login" asp-controller="Home"
                  ><i class="bi bi-person-fill"></i> Iniciar Sesion</a>
              </li>
              <li>
                <div class="nav-link">|</div>
              </li>
              <li class="nav-item">
                <a class="nav-link" asp-action="Register" asp-controller="Home"
                  ><i class="bi bi-box-arrow-in-right"></i> Registrar</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
     <div class="carousel">
          <div
        id="carouselExampleControls"
        class="carousel slide carousel-fade"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="~/img/1.jpg" class="d-block w-100" width:"50" heigth:"auto"  alt="Cecyt 13" />
            </div>                    
            <div class="carousel-item">
              <img src="~/img/2.jpg" class="d-block w-100" width:"50" heigth:"auto" alt="Cecyt 13" />
            </div>                    
            <div class="carousel-item">
              <img src="~/img/3.jpg" class="d-block w-100" width:"50" heigth:"auto" alt="Cecyt 13" />
            </div>                    
            <div class="carousel-item">
              <img src="~/img/4.jpg" class="d-block w-100" width:"50" heigth:"auto" alt="Cecyt 13" />
            </div>                    
            <div class="carousel-item">
              <img src="~/img/5.jpg" class="d-block w-100" width:"50" heigth:"auto" alt="Cecyt 13" />
            </div>                    
            <div class="carousel-item">
              <img src="~/img/6.jpg" class="d-block w-100" width:"50" heigth:"auto" alt="Cecyt 13" />
            </div>                    
            <div class="carousel-item">
              <img src="~/img/7.jpg" class="d-block w-100" width:"50" heigth:"auto" alt="Cecyt 13" />
            </div>                    
            <div class="carousel-item">
              <img src="~/img/8.jpg" class="d-block w-100" width:"50" heigth:"auto" alt="Cecyt 13" />
            </div>                    
            <div class="carousel-item">
              <img src="~/img/9.jpg" class="d-block w-100" width:"50" heigth:"auto" alt="Cecyt 13" />
            </div>                    
            <div class="carousel-item">
              <img src="~/img/10.jpg" class="d-block w-100" width:"50" heigth:"auto" alt="Cecyt 13" />
            </div>                    
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
     </div>
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
  </body>
</html>
