
@{
    Layout = "~/Views/Shared/_LayaoutProfesor.cshtml"; 
}

<h1>Bienvenido profesor</h1>
<!--
    Tabla Alumnos
-->
<table id="myTable" class="table table-striped table-hover">
    <thead class="thead-pantone">
        <tr>
            <th>
                Nombre:
            </th>
            <th>
                Grupo:
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)    
        {
            <tr>
                <td>
                    @item.Nombre @item.ApellidoPat @item.ApellidoMat
                </td>
                <td>
                    @item.Grupo
                </td>
            </tr>
        }
    </tbody>
</table>

