
@{
    ViewData["Title"] = "Inscripciones";
    Layout = "~/Views/Shared/_LayaoutAdmin.cshtml";
}

<h1>Inscripciones</h1>
<table id="myTable" class="table table-striped table-hover">
    <thead >
        <tr class="thead-pantone">
            <th>
                Profesores
            </th>
            <th>
                Alumnos
            </th>
            <th>
                Fecha
            </th>
            <th>
                Folio
            </th>
            <th>
                Editar
            </th>
            <th>
                Eliminar
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Profesor
                </td>
                <td>
                    @item.Alumno
                </td>
                <td>
                    @item.Fecha
                </td>
                <td>
                    @item.Folio
                </td>
                <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Editar">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" onclick="Modal()">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal Editar -->
<div class="modal fade" id="Editar" tabindex="-1" aria-labelledby="Editar" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Editarlabel">Editar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>
function Modal(){
swal({
  title: "¿Estas Seguro?",
  text: "Una vez eliminado se necesitara registrar de nuevo el usuario",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    swal("Poof! El registro ha sido elimimado", {
      icon: "success",
    });
  } else {
    swal("El registro se ha salvado :3");
  }
});
}
</script>